MONGODB_URL=mongodb+srv://<username>:<password>@<cluster-host>/<database>?retryWrites=true&w=majority
DATABASE_NAME=agritech_db
SECRET_KEY=change-this-in-production
ML_MODELS_PATH=./ml_models
ACCESS_TOKEN_EXPIRE_MINUTES=1440
